
.container{
    display: flex;
    justify-content: center;
}

.gamePad{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    border: 1px solid black;
}

img {
    width:  100px;
    height: 100px;
}

.case {
    width:  100px;
    height: 100px;
    color: black;
    background-color: white;
    text-align: center;
    font-size: 12px;
    line-height: 100px;
}

.case.black {
    color: white;
    background-color: rgb(34, 34, 34);
}

