/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variables */
:root {
    --font-size: larger;
    --thiny-font-size: 0.5rem;
    --color-border: #efefef;
    --color-txt: black;
    --color-txt-gray: rgb(100, 100, 100);
    --burger-color: #fff;
    --important-color: rgb(241, 102, 102);
    --default-horizontal-padding: 5rem;
}

.light-mode {
    --navbar-color: #222;
    --navbar-bg-color: #d9a;
    --color-symbols: #d9a;
    --color-symbols-darker: #d68;
    --color-bg-container: linear-gradient(180deg, rgba(246,225,101,1) 0%, rgba(227,208,53,0.9556197478991597) 50%, rgba(232,194,66,1) 100%);
}

.dark-mode {
    --navbar-color: #fff;
    --navbar-bg-color: #000;
    --color-symbols: #0ef;
    --color-symbols-darker: rgb(0, 144, 154);
    --color-bg-container: linear-gradient(180deg, rgba(127,223,180,1) 0%, rgba(61,182,181,0.9556197478991597) 50%, rgba(0,189,255,1) 100%);

}

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}



/* Basic Style */
body {
    position: absolute;
    font-size: var(--font-size);
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background: var(--color-bg-container);
    background-blend-mode: hard-light;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: var(--color-txt);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 100;
    width: 100%;
}

.logo>img {
    width: 8rem;
    filter: drop-shadow(2px 2px 4px white) invert(100%) brightness(0.60) opacity(0.5);
}

/* Navbar */
.navBar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    width: 100%;
    padding: 10px;
    color: var(--navbar-color);
}

.navBar_items {
    display: flex;
    padding: 1rem;

}

.navBar_item {
    margin: 0 0.5rem;
    list-style: none;
}

.navBar_item a {
    color: var(--navbar-color);
}

.navBar_item>a::after {
    display: block;
    content: "";
    width: 0;
    height: 3px;
    background: var(--navbar-color);
    transition: width .4s;
}

.navBar_item:hover>a::after {
    width: 100%;
}

.btn_link {
    border: 2px solid white;
    padding: .4rem;
    color: white;
}

.burger {
    display: none;
}

#toggleTheme {
    width: 20px;
    position: fixed;
    cursor: pointer;
    left: 0;
    top: 25%;
    color: white;
    background-color: #000;
    text-align: center;
    transform: translateY(-25%);
}

/************************************* Main container **********************************************/

.main_container {
    padding: 0 calc(var(--default-horizontal-padding) * 2);
}

.main_header {
    overflow: hidden;
    height: 250px;
    background-image: url(img/bkg.png);
    background-repeat: repeat-x;
    background-position-y: bottom;
    filter: grayscale(0.8);
    text-shadow: 1px 1px 0 black;
}

.main_title {
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    color: white;
    padding: 0 calc(var(--default-horizontal-padding) * 4);
}

.main_title p {
    margin: .8rem 0 1.6rem 0;
}
/***************************************** Infos **********************************/
.info {
    display: flex;
    justify-content: space-around;
    background: white;
    padding: 2rem var(--default-horizontal-padding);
    width: 100%;
}

.info h2 {
    padding-bottom: 1rem;
}

.info_left,
.info_middle,
.info_right {
    width: 33%;
}

/* New foldable div with button */
.accordion {
    display: flex;
    background-color: white;
    cursor: pointer;
    border: none;
    text-align: left;
    font-size: var(--font-size);
    font-family: 'Raleway', sans-serif;
    transition: 0.4s;
}

.panel {
    padding: 0 0 0 3rem;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.fold_div {
    overflow: hidden;
    margin: 0 0 1rem;
}

.fold_div_icon:after {
    content: '+';
}

.accordion.active .fold_div_icon:after {
    content: '-';
    margin-top: -0.5rem;
}

.fold_div_icon {
    display: flex;
    align-items: center;
    font-size: 3rem;
    line-height: 3rem;
    height: 1.7rem;
    margin: 1rem;
    transition: transform 750ms ease-in-out;
}

.fold_div_title {
    margin: 1rem 0;
    ;
}

.accordion.active .fold_div_icon {
    transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
    transition: transform 750ms ease-in-out;
}

.links {
    display: flex;
}

.links i {
    padding: 0.25rem 1rem;
    font-size: 1.7rem;
    line-height: 1.7rem;

}

.links div {
    padding: 0.25rem 0;

}

/****************************** partie média **************************************************/
.medias {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    background: white;
    height: calc((100vw - calc(var(--default-horizontal-padding) * 4)) / 4 * 0.5625 * 2);
}

.div_media {
    position: absolute;
    ;
    max-width: 25%;
    height: calc((100vw - calc(var(--default-horizontal-padding) * 4)) / 4 * 0.5625);
    overflow: hidden;
    filter: opacity(1);
    transition: filter 2s ease-in-out;
}

.media_navbar {
    width: 100%;
    background: white;
}


.media, .div_media img {
    width: 100%;
    height: auto;
}

.div_media i {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: xx-large;
    opacity: .1;
    transition: all 250ms ease-in-out;
    transform: translateX(-50%) translateY(-50%);
}

.div_media:hover i {
    opacity: .6;
}

.div_media:active:hover.div_media>i {
    transform: translateX(-50%) translateY(-50%) scale(1.2);
}

.media_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem var(--default-horizontal-padding);
}

.media_navbar_items {
    display: flex;
    column-gap: 1rem;
    list-style: none;
    font-weight: bold;
    text-shadow: 1px 1px 0 black;
}

.media_navbar_item>button {
    color: var(--color-txt-gray);
    background: white;
    border: none;
    font-size: var(--font-size);
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.media_navbar_item>button::after {
    display: block;
    content: "";
    width: 0;
    height: 3px;
    bottom: -1px;
    background: var(--color-symbols-darker);
    transition: all .4s;
}

.media_navbar_item:hover>button {
    color: var(--color-symbols);
    cursor: pointer;
}

.media_navbar_item>button.active,
.media_navbar_item>button.active::after {
    color: var(--color-symbols);
    width: 100%;
}

/********************** Testimonial *************************** */
.testimonials {
    width: 100%;
    background: white;
    padding: 0 var(--default-horizontal-padding) 5rem;
    text-align: center;
}

.client_testimonial {
    display: flex;
    width: 100%;
    background: white;
    padding: 1rem 0;
}

.div {
    height: 100%;
    text-align: left;
    margin: auto;
}

.div:nth-child(even) blockquote {
    text-align: left;
    margin: auto;
}

.div:nth-child(odd) {
    text-align: right;
    margin: auto;
}

.client_testimonial img {
    width: 128px;
    border-radius: 64px;
    background: white;
    padding: 1rem;
}

/******************************* New Horizon ******************************************/
.new_horizons {
    overflow: hidden;
    width: 100%;
    background-image: url(img/stars2.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    text-shadow: 1px 1px 0 black;
    padding: 5rem calc(var(--default-horizontal-padding) * 2);
}

.new_horizons,
.new_horizons a {
    color: white;
}

.new_horizons>p {
    margin: 5rem;
}

/*************************************** Formulaire de contact *************************************************/
.get_in_touch_form {
    width: 100%;
    background: white;
    text-align: center;
    padding: 2rem var(--default-horizontal-padding);
}

.get_in_touch_form form {
    display: flex;
}

.get_in_touch_form form input,
.get_in_touch_form form textarea {
    height: 3rem;
    width: 100%;
    border: none;
    background: #eee;
    margin: 0 0 2rem 0;
    padding: 0 .5rem;
    font-size: var(--font-size);
}

.required::after {
    content: " *";
    color: var(--important-color);
}

.get_in_touch_form form div {
    padding: 5rem 0.5rem 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-items: flex-start;
    width: 50%;
}

#message {
    resize: none;
}

.btn_send {
    border: none;
    background: var(--important-color);
    color: rgb(220, 220, 220);
    padding: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: var(--font-size);
}

/***************************************** Bottom ********************************************/
.bottom {
    position: relative;
    display: flex;
    justify-content: space-around;
    background: #000;
    color: white;
    width: 100%;
}

.bottom div {
    width: 33%;
    padding: 4rem var(--default-horizontal-padding);
}

.bottom p {
    margin: 2rem 0;
}

.bottom form {
    display: flex;
    flex-direction: column;
}

.bottom form input {
    height: 3rem;
    border: none;
    background: rgb(49, 49, 49);
    color: #fff;
    margin-bottom: 2rem;
    padding: 0 .5rem;
    font-size: var(--font-size);
    font-size: small;
}

.bottom form input::placeholder {
    color: rgb(152, 149, 149);
}

.btn_subscribe {
    background: none;
    color: white;
    width: fit-content;
    font-family: 'Raleway', sans-serif;
    font-size: var(--font-size);
}

.toTop_anchor {
    position: absolute;
    bottom: 0px;
    right: .5rem;
    color: rgb(91, 91, 91);
    /* font-size: calc(var(--font-size) * 1.5); */
}

.fa-chevron-up {
    font-weight: bolder;
}

/********************************************* Footer ***************************************/
footer>div>a {
    padding-top: 0;
}

footer,
footer a {
    padding: 1rem 0 2rem;
    color: var(--navbar-color);
}

footer,
footer div {
    display: flex;
    justify-content: space-around;
}

footer ul {
    display: flex;
}

footer ul {
    list-style: none;
}

footer div,
footer ul li {
    padding: 0 .5rem;
}

footer button {
    border: none;
    background: transparent;
    font-size: inherit;
    font-family: 'Raleway', sans-serif;
    color: var(--navbar-color);
}

footer a::after, footer button::after {
    display: block;
    content: "";
    width: 0;
    height: 3px;
    background: var(--navbar-color);
    transition: width .4s;
}

footer a:hover::after, footer button:hover::after {
    width: 100%;
}

/***************************************** Séparateurs sous les titres *********************************************/
.separator_left::after {
    position: relative;
    text-align: center;
    display: block;
    content: "";
    width: 15%;
    height: 3px;
    top: .5rem;
    background: var(--color-symbols);
}

.separator::after {
    position: relative;
    text-align: center;
    display: block;
    content: "";
    width: 5%;
    height: 3px;
    left: 50%;
    top: .5rem;
    transform: translateX(-50%);
    background: var(--color-symbols);
}

/************************************* Valeurs communes *******************************************/
.border {
    border: 1px solid var(--color-border);
}

.border_color_symbols {
    border: 2px solid var(--color-symbols-darker);
    padding: .5rem;
}

.important {
    color: var(--important-color);
}

.symbols {
    color: var(--color-symbols);
    text-shadow: 1px 1px 1px black;
}

.capitalize {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.text-secondary {
    color: var(--color-txt-gray);
}

@media screen and (max-width: 1370px) {
    :root {
        --font-size: large;
        --default-horizontal-padding: 3rem;
    }

    .main_container {
        padding: 0 var(--default-horizontal-padding);
    }
    .medias{
        height: calc((100vw - calc(var(--default-horizontal-padding) * 4)) / 4 * 0.5625 * 2);
    }

    .media{
        height: calc((100vw - calc(var(--default-horizontal-padding) * 2)) / 4 * 0.5625);
    }

}

/* Small device */
@media screen and (max-width:768.98px) {
    * {
        --default-horizontal-padding: 2.5rem;
    }

    .main_container {
        padding: 0 var(--default-horizontal-padding);
    }

    .main_title {
        padding: 0 var(--default-horizontal-padding);
    }

    .container {
        padding: 0 1rem;
    }

    .navBar {
        justify-content: space-between;
        z-index: 50;
    }

    .navBar_items {
        padding-top: 5rem;
        display: flex;
        flex-direction: column;
        width: 0;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 100%;
        background: #000;
        transition: all .5s ease-in-out;
    }

    .show-nav .navBar_items {
        width: 100%;
        left: 0;
    }

    .navBar_item {
        transform: translateX(100%);
    }

    .show-nav .navBar_item {
        transform: translateX(0);
    }

    .navBar_item>a {
        display: block;
        padding: 1rem;
        font-size: 1.6rem;
        transition: all .4s ease-in-out;
        color: var(--burger-color);
    }

    .navBar_item>a::after {
        background: var(--burger-color);
    }

    .navBar_item>a:hover {
        padding-left: 2rem;
        letter-spacing: 5px;
    }

    /* toggle menu */
    .burger {
        display: block;
        position: relative;
        padding: 0;
        width: 45px;
        height: 45px;
        border: none;
        background: transparent;
        cursor: pointer;
        z-index: 51;
    }

    .logo>img {
        display: block;
        position: relative;
        z-index: 52;
    }

    .bar {
        display: block;
        width: 45px;
        height: 4px;
        background: var(--burger-color);
        border-radius: 3px;
        transition: all .5s ease-in-out;
    }

    .show-nav .bar {
        width: 0;
        background: transparent;
    }

    .bar::before,
    .bar::after {
        content: "";
        width: 45px;
        height: 4px;
        position: absolute;
        left: 0;
        background: var(--burger-color);
        border-radius: 3px;
        transition: all .5s ease-in-out;
    }

    .bar::before {
        transform: translateY(-12px);
    }

    .bar::after {
        transform: translateY(12px);
    }

    .show-nav .bar::before {
        transform: rotate(45deg);
    }

    .show-nav .bar::after {
        transform: rotate(-45deg);
    }

    /* bonus animation */
    .show-nav .first {
        transition: all 1s ease-in-out;
    }

    .show-nav .second {
        transition: all 1.1s ease-in-out;
    }

    .show-nav .third {
        transition: all 1.2s ease-in-out;
    }

    .show-nav .fourth {
        transition: all 1.3s ease-in-out;
    }

    .show-nav .fifth {
        transition: all 1.4s ease-in-out;
    }

    .show-nav .sixt {
        transition: all 1.5s ease-in-out;
    }

}

@media screen and (max-width: 742px) {
    * {
        --default-horizontal-padding: 0.5rem;
        --font-size: x-small;

    }

    .main_container {
        padding: 0 var(--default-horizontal-padding);
    }

    .new_horizons {
        padding: 1rem var(--default-horizontal-padding);
    }
}

/* medium devices */
@media screen and (max-width:280px) {
    :root {
        --default-horizontal-padding: .5rem;
        font-size: x-small;
    }

    .container {
        padding: 0;
    }
    #toggleTheme {
        display: none;
    }

     
    .main_title {
        padding: 0 2rem;
    }

    .main_title>p {
        padding: 2rem 0;
    }
    .medias{
        height: calc(100vw / 4 * 0.5625 * 2 - 2px);
    }
    .media_navbar {
        padding: .5rem;
    }

    .testimonials {
        padding: 3rem 0.5rem;
    }

    .testimonials h1 {
        padding-bottom: 1rem;
    }
    .testimonials div:nth-child(4) {
        padding-bottom: 3rem;
    }

    .client_testimonial img {
        width: 32px;
        height: 32px;
        margin: auto;
        border-radius: 16px;
        padding: .1rem;
    }

    .get_in_touch_form {
        padding: 2rem .5rem;
    }

    .info,
    .get_in_touch_form form,
    .bottom {
        flex-direction: column;
        align-items: center;
    }

    .info_left,
    .info_middle,
    .info_right,
    .info,
    .get_in_touch_form form div,
    .bottom div {
        width: 100%;
        padding: 2rem 1rem;
    }

    .new_horizons {
        padding: 3rem var(--default-horizontal-padding);
    }

    .new_horizons p {
        margin: 3rem 0;
    }

    .new_horizons .btn_become_client {
        font-size: x-small;
    }
    .bottom div>h2 {
        text-align: center;
    }
    .bottom div>h2 {
        text-align: center;
    }
    .bottom div>h2::after {
        left: 50%;
        transform: translateX(-50%);
    }
    footer {
        flex-wrap: wrap;
    }

    footer div>a {
        padding-bottom: 0.25rem;
    }
}